[Unit]
Description=Download Folder Watcher
# After=network.target

[Service]
Type=simple
WorkingDirectory=/home/melsiddig/Downloads
User=melsiddig
ExecStart=/usr/bin/wendy -m 384 -v -w "." /usr/local/bin/download-watcher
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
